

<div class="con_1">
	<div class="container">
		<div class="col-md-6 col-sm-6">
			<h3>Contact Us</h3>
			<hr>
			<form>
    <div class="form-group">
      <label for="text">Name:</label>
      <input type="text" class="form-control" name="name" placeholder="Full name" value="">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" name="email" placeholder="Email Id" value="">
    </div>
    <div class="form-group">
      <label for="number">Phone Number:</label>
      <input type="number" class="form-control" name="mobile" placeholder="Mobile Number" value="">
    </div>
    <div class="form-group">
      <label for="number">Address:</label>
      <input type="textr" class="form-control" name="address" placeholder="Address" value="">
    </div>
     <div class="form-group">
      <label for="Message">Message:</label>
      <textarea class="form-control" rows="3" placeholder="Type Message" name="message"></textarea>
    </div>
    <!--<div class="checkbox">-->
    <!--  <label><input type="checkbox" name="remember"> Remember me</label>-->
    <!--</div>-->
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
		</div>
		<div class="col-md-6 col-sm-6 address-sec">
          <div class="section-title">
            <h3 class="title">Address</h3>
            <br>
          </div>
          <p></p>
          <div class="row">
            <div class="col-xs-2 text-center">
              <div class="con-sec">
              <i class="fa fa-phone"></i>
            </div>
          </div>
             <div class="col-xs-10">
              <p><b>Contact Number :</b></p>
              <!--<p>+91- 733 722 2096</p>-->
              <p>+91- 889 765 6456</p>
              <p>+91- 733 722 2104</p>
              </div>
          </div>
          <div class="row">
            <div class="col-xs-2 text-center">
              <div class="con-sec">
                <i class="fa fa-envelope"></i>
              </div>
            </div>
             <div class="col-xs-10">
              <p><b>Email :</b></p>
              <p>klfchospitalhanamkonda@gmail.com</p> </div>
          </div>
           <div class="row">
            <div class="col-xs-2 text-center">
               <div class="con-sec">
                <i class="fa fa-map-marker"></i>
              </div>
            </div>
             <div class="col-xs-10">
              <p><b>Address :</b></p>
              <p>OPP: Plot No: 6-1-80, Kancharakunta,<br>
              Near Asian Sridevi Mall, Kuda Lane, Hanamkonda,<br>
              Warangal, Telangana - 506001</p>
              <p><b>Working Hours:</b></p>
              <p><b>Monday - Friday :</b> 8.00 A.M to 10.00 P.M</p>
              <p><b>Saturday :</b> 9.00 A.M to 07.30 P.M</p>
              <p><b>Sunday :</b> 9.30 A.M to 03.00 P.M</p>
              </div>
          </div>
        </div>
	</div>
</div>