  
   
    




    <div>
        <div> Add Emplyee </div>
        <input appAplhanumeric [ngStyle]="{'color': employee.first_name === 'ali' ? 'blue' : 'red'}" type="text" placeholder="First name" [ngModel]="employee.first_name" (ngModelChange)="updaModel($event)"  />
        <input  appAplhanumeric type="text" placeholder="First name" [(ngModel)]="employee.last_name" />
        <input appAplhanumeric type="email" placeholder="email" [(ngModel)]="employee.email" />
    </div>
    <div> 
        <button *ngIf="!editEmp" (click)="addEmployee()"  >Add Employee </button>
        <button *ngIf="editEmp" (click)="updateEmployee()" >Update Employee </button>
    
     <button  [disabled]="editEmp" (click)="addEmployee()"  >Add Employee </button>
     <button [disabled]="!editEmp" (click)="updateEmployee()" >Update Employee </button>

    
    </div>
    <app-list [empList]="employeesList" (edit)="editEmployee($event)" >        <h1 class="head" >headeeeerr</h1><span>Employees list !!!!!!!!!!!!!!!!!!!</span></app-list>

